
<!-- 93. Usando parciales con HBS -->

<header id="header">
    <!-- 92. Argumentos desde el controlador -->
	<div class="logo"><a href="/">{{nombre}}<span> {{caracteristica}}</span></a></div>
	<a href="#menu"><span>Menu</span></a>
</header>